<!Doctype html>
<html>
<head>
<title>BaseClass</title>

</head>
<body>
    <div class="supporting1 ">
<div class="header container-fluid">
<div class="row">
	<div class="col-sm-4">
	    <p>
	    <em style="color:#28c7e0; font-size:40px; font-weight:8px;padding-top:20px;"
            class="glyphicon glyphicon-knight pull-right" >
            Navjot's
        </em>
	    </p>
    </div>
    <div>

        <!-- When any other html extends this base.html, then the contents inside
        block will be replace with contents of other html -->
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="footer container-fluid">
    <p style="text-align:center; line-height:1px;">By</p>
    <h2 style="color:#DC4E41; letter-spacing:5px; font-size:20px; font-family:arial; text-align:center; font-weight:900">NAVJOT</h2>
</div>
</body>
</html>