<!DOCTYPE html>
<!-- This is home page where all the blogs, comments etc will be rendered on
    screen -->

<!-- Below tag is for responsive view-->
<meta name="viewport" content="width=device-width,
minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta charset="utf-8">
<title>Build a portfolio site</title>
<link rel="stylesheet"
href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
href=
"https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script
src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js">
</script>
</head>
<body>
<ul class="nav nav-pills" style="border-bottom: solid rosybrown 1em;
   margin-top:1.5em; padding-bottom: 1em; margin-left: 2em;margin-right: 2em;">
  <li role="presentation" class="active"><a href="/blog">Home</a></li>
  <li role="presentation"><a href="/blog/newpost">New Post</a></li>
  <li role="presentation"><a href="/blog/logout">Logout</a></li>
</ul>


<!-- Jinja2 template provides for loop that can be used to display
    various elements in html page -->
{% for blog in blogs %}
    <h1 style="color:#7D3DA6; font-family: 'Segoe UI Semibold'; margin-left: 0.4em">{{ blog.subject }}</h1>
    <p style="text-align: right; color:darkgoldenrod; margin-right:2em">
    Author: {{ blog.owner }}
    </p>
    <p style="text-align: right; color:darkgoldenrod;margin-right: 2em">
    Created: {{ blog.created }}
    </p>

    <blockquote style="margin-left: 0.5em">{{ blog.blog }}</blockquote>

    <form method="post">
    {% for like in like %}
        {% if like.c_post_id == blog.key().id() %}
<!--If user entered new blog, then a new page will be rendered to view what
will be getting posted, so in that case as this is only view page, we hide
 like, comment and edit  buttons  else if user clicks them : error will be
 generated-->
            {% if newblog %}
                <input type="hidden">
            {% else %}
                <button name="like_button_id" value="{{like.key().id()}}"
                        style="margin-left: 1em">LIKE {{ like.c_likes }}</button>
            {% endif %}
            {% if like_error_id == like.key().id() %}
                <p style="color:red; margin:1em">{{ like_error }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set check_comments = [] %}
    <h3 style="color:#A0C3FF; font:'Segoe UI Semibold'; margin-left: 0.4em">
        Comments:
    </h3>
 <!-- This check is to see wether main.py sends error message and error id
 if so, then we only have to display to corresponding blog not all so
 we will be seeing comment_error_id which will be blog id for which
 error is generated-->
    {% if comment_error_id == blog.key().id() %}
        <p style="color:red; margin:1em">{{ comment_error }}
        </p>
    {% endif %}
    {% for comment in comments %}
        {% if comment.comment_id == blog.key().id() %}
            {% for each_comment in comment.comment_list %}
                {% if check_comments.append(1) %}
                {% endif %}
                <blockquote style="margin-left: 2em">{{ each_comment }}</blockquote>
            {% endfor %}

        {% endif %}
    {% endfor %}
    {% if check_comments |count == 0 %}
    <blockquote style="margin-left:2em">No Comments Yet, click Comment to add</blockquote>
    {% endif %}
       </form>
    <form method="post" action="/blog/edit">
    <button name="post_id" value="{{ blog.key().id()}}" style="margin-left: 0.7em">EDIT</button>
    </form >
     {% if newblog %}
         <input type="hidden">
     {% else %}

    <form method="post">
     <button name="post_id" value="{{ blog.key().id()}}" style="margin-top: 1em; margin-left: 0.7em" >Comment</button>
    </form>

    <form method="post">
     <button name="delete_post_id" value="{{ blog.key().id()}}" style="margin-top: 1em; margin-left: 0.7em" >Delete</button>
    </form>

    {% if delete_error_id == blog.key().id() %}
        <p style="color:red; margin:1em">{{ delete_error }}
        </p>
    {% endif %}
    {% endif %}

    {% if newblog %}
        <a href="/blog">
            <p class="btn btn-primary" style="margin-top: 4em; margin-left: 1em">
                MAIN PAGE
            </p>
        </a>
    {% endif %}


    <hr>
{%  endfor %}
</body>
</html>